

.read-only-field {

    &__label {
        font-weight: bold;
        font-size: .85rem;
        color: $off-black;
    }

    &__value {
        display: inline-block;
        font-weight: normal;
        font-size: 1rem;
        color: $black;
    }

    &--stacked {
        text-align: center;

        .read-only-field__value {
            display: block;
        }
    }
}