.page-title{
    margin-bottom: 30px;
    text-align: center;
}

.section-title{
    margin-bottom: 20px;
    padding: 0 10px;
    text-align: left;
    background-color: lightgray;
    border-bottom: 1px solid gray;
}